on: [push, pull_request]

name: unit-tests

jobs:
  unit-tests:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: "3.6.1"}
          - {os: macOS-latest,   r: "3.6.1"}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      R_REMOTES_UPGRADE: never
      VDIFFR_RUN_TESTS: true

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@master
        with:
          r-version: ${{ matrix.config.r }}


        # we only need this for jags...
      - name: Clone jasp-required-files
        if: runner.os == 'Windows'
        run: |
          if [ "${{ runner.os }}" = 'macOS' ]; then
            branch='MacOS-Original'
          else
            branch='Windows'
          fi
          echo "branch=$branch"
          git clone --branch=$branch https://github.com/jasp-stats/jasp-required-files.git pkgs
        working-directory: ..
        shell: bash

      - name: Install system dependencies on macOS
        run: |
          if [ "${{ runner.os }}" = 'macOS' ]; then
            brew cask install xquartz
          fi
        shell: bash

      - name: setup renv
        run: |
          print("renv::diagnostics() 1")
          renv::diagnostics()
          print("renv::restore() 1")
          renv::restore()
          print("renv::diagnostics() 2")
          renv::diagnostics()
          print("renv::restore() 2")
          renv::restore()
          print("renv::diagnostics() 3")
          renv::diagnostics()
          print("end")
        shell: Rscript {0}

      - name: Install JAGS on macOS
        run: |
          if [ "true" = 'true' ] && [ "${{ runner.os }}" = 'macOS' ]; then
            rm '/usr/local/bin/gfortran'
            brew install jags
          fi
        shell: bash

      - name: Locate JAGS on Windows
        run: |
          if (.Platform$OS.type == "windows" && "true" == "true") {
            path <- normalizePath(file.path("..", "pkgs", "64", "JAGS"), winslash = "/")
            cat("\nSys.setenv(JAGS_HOME = '", path, "')\n", file = ".Rprofile", sep = "", append = TRUE)
            print(readLines(".Rprofile"))
          } else {
            print("Skipping this step!")
          }
        shell: Rscript {0}

      - name: Setup jaspTools
        run: |
          install.packages("remotes") # required for jaspTools
          remotes::install_github("jasp-stats/jaspTools")
          jaspTools::setupJaspTools()
        shell: Rscript {0}

      - name: Run unit tests
        run: source("tests/testthat.R")
        shell: Rscript {0}
